.Heading {
    font-size: 36px;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 2%;
}

.HeadingText {
    font-size: 24px;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}