.Heading {
    font-size: 36px;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 2%;
}

.HeadingText {
    font-size: 24px;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.optionButton {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

Button {
    font-size: 12px;
    padding: 4px;
    border-radius: 8px;
    background-color: red;
    color: white;
    font-weight: bold;
}

.urlInput {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px
}

input {
    width: 40%;
}